// {
//     "extends": "airbnb",
//     "parser": "babel-eslint",
//     "plugins": [
//         "react",
//         "emotion",
//         "jsx-a11y",
//         "import"
//     ],
//     "parserOptions": {
//         "ecmaVersion": 8
//     },
//     "rules": {
//         "no-debugger": "warn",
//         "import/no-extraneous-dependencies": 0,
//         "import/extensions": 0,
//         "import/no-unresolved": 0,
//         "import/prefer-default-export": 0,
//         "jsx-a11y/interactive-supports-focus": 0,
//         "jsx-a11y/click-events-have-key-events": 0,
//         "no-shadow": 0,
//         "no-underscore-dangle": 0,
//         "react/prop-types": [1, {
//             "ignore": ["children", "route", "router", "routes", "routeName"]
//         }],
//         "react/jsx-filename-extension": [1, {
//             "extensions": [".js", ".jsx"]
//         }],
//         "react/forbid-prop-types": [1, {
//             "forbid": ["any", "object"]
//         }],
//         "no-use-before-define": 0,
//         "no-return-assign": 0,
//         "react/sort-comp": 0,
//         "no-param-reassign": 0,
//         "jsx-a11y/anchor-is-valid": [1, {
//             "ignore": ["Link"]
//         }]
//     }
// }